<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		.red_bg{
			background: red;
		}
		.blue_bg{
			background: blue;
		}
	</style>
</head>
<body>
	<div ng-controller="myController">

		<input type="button" value="点击看看" ng-click="change()">

		<table border="1" width="500">
			<tr>
				<th>ID</th>
				<th>姓名</th>
				<th>年龄</th>
				<th>操作</th>
			</tr>
			<tr data-ng-repeat="user in users">
				<td>{{user.id}}</td>
				<td>{{user.name}}</td>
				<td>{{user.age}}</td>
				<td>
					<input type="button" data-ng-click="delete($index)" value="删除">
					<input type="button" data-ng-click="update($index)" value="修改">
				</td>
			</tr>
		</table>

		<input type="text" name="name" data-ng-model="use.name" placeholder=""><br/>
		<input type="text" name="name" data-ng-model="use.age" placeholder=""><br/>
		<input type="button" value="保存" data-ng-click="save">

	</div>

	<script src="../../bower_components/angular/angular.min.js"></script>
	<script src="index.js"></script>
</body>
</html>
