<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

</head>
<body>
	<div ng-controller="myController">
		<ul>
			<li ng-repeat="name in names">
				{{name}} <a href="javascript:;" ng-click="removeName($index)">删除</a>
			</li>
		</ul>
		<input type="text" ng-model="new_name"><input type="button" ng-click="addName()" value="添加">


		<div>{{getName()}}</div>

	</div>
		

	<script src="../../bower_components/angular/angular.min.js"></script>
	<script src="index.js"></script>
</body>
</html>