<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

</head>
<body ng-controller="myController">

	<input type="text" ng-model="serach">

	<table width="100%" border=1>

		<tr ng-repeat="people in peoples | orderBy:priority:true">
			<td>{{people.name}}</td>
			<td>{{people.description}}</td>
			<td>{{people.priority}}</td>
			<td>{{people.done}}</td>
			<td><a href="javascript:;" ng-click="del($index)">Delete</a></td>
		</tr>

	</table>
	<h2>{{totalpriority()}}</h2>
	<div ng-show="peoples.length == 0">没有数据</div>


	<script src="../../bower_components/angular/angular.min.js"></script>
	<script src="index.js"></script>
</body>
</html>
