<div class="wrap" data-ng-hide="hideWrap">
	<a href="" ui-sref="about({age:1,name:'yangfei'})">点击{{name}}</a>
	<ul >
	  <li bindonce="item" ng-repeat="item in items">
	    <span bo-text="item"></span>
	  </li>
	</ul>
	<button type="button" ng-click="clickMe()">点击</button>
	<button type="button" ng-click="clickMe1()">点击</button>
</div>
<div id="iSlider-wrapper" data-islider ng-click="closeLayer()" data-ng-class="{'active_slider':active_slider}" data-datas="{{datas}}"></div>

<!-- <ul class="loadmore" data-load-more-data>
	<li ng-repeat="user in users">{{user.id}}</li>
</ul>
 -->
<!-- <table width="100%">
	<tr ng-repeat-start="data in datas" >
		<td >{{data.name}}</td>
	</tr>
	<tr ng-repeat-end >
		<td ><strong>{{data.age}}</strong></td>
	</tr>
</table> -->
<style>

	/*#txttest{
		border: none;
	}
*/
</style>
<!--  <div class="content">
    <!-- <div class="demo demo-date demo-datetime demo-time demo-credit">
        <label for="test">点击下面文本框</label>
        <input name="test" data-ng-model="datastr" data-date-selector id="txttest" class="demo-test-date demo-test-datetime demo-test-time demo-test-credit" />
    </div> -->

<!-- 		<select id="selsheng" data-date-Selector preset="select">
				<option value="1">Atlanta</option>
				<option value="2">Berlin</option>
				<option value="3">Boston</option>
				<option value="4">Chicago</option>
				<option value="5">London</option>
				<option value="6">Los Angeles</option>
				<option value="7">New York</option>
				<option value="8">Paris</option>
				<option value="9">San Francisco</option>
		</select>
</div> -->
 -->
<a href="" ui-sref="about({age:1,name:'yangfei'})">点击跳转</a>

<!--事件代理-->
<style media="screen">
	.list li{
		padding:10px;
		border:1px solid red;
	}
</style>
<ul class="list">
	<li data-ng-repeat="user in new_users">点击</li>
</ul>
