<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div scroll-to-bottom></div>

<div class="container">
  <ul>
    <li bindonce data-ng-repeat="user in users">{{user.name}} <a href="javascript:;" class="btn primary-btn" data-ng-click="deleteUser($index)">删除</a></li>
  </ul>
</div>


<div class="row marketing">
  <a data-ui-sref="list">{{click}}</a>
</div>
<button data-ng-click="deleteBanner()">删除</button>

<!-- <div id='slider' class='swipe' data-swipe>
  <div class='swipe-wrap'>
    <div ng-repeat="swipe in swipes">
      <img src="{{swipe.img}}"/>
    </div>
  </div>
  <ul class="swipe-num">
    <li ng-repeat="swipe in swipes" ng-class="{current:$first}"></li>
  </ul>
</div> -->


<div id='slider' class='swipe' data-swipe>
  <div class='swipe-wrap'>
    <div data-bindonce='swipe' data-ng-repeat='swipe in swipes' >
      <a href="#">
        <img data-bo-src="swipe.img" />
      </a>
    </div>
  </div>
  <ul class="swipe-num">
    <li data-bindonce='swipe' data-ng-repeat='swipe in swipes' data-bo-class='{ current: $first }'></li>
  </ul>
</div>
