<!DOCTYPE html>
<html ng-app="sportsStore">
<head>
    <title>SportsStore</title>
    <link href="./public/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="./public/libs/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body ng-controller="sportsStoreCtrl">
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
    </div>
    <div class="panel panel-default row">
        <div class="col-xs-3">
            <a ng-click="selectCategory()"
               class="btn btn-block btn-default btn-lg">Home</a>
            <a ng-repeat="item in data.products | orderBy:'category' | unique:'category'"
               ng-click="selectCategory(item)" class=" btn btn-block btn-default btn-lg" ng-bind="item" ng-class="activeClasses(item)">
            </a>
            <h1>{{name|limit2}}</h1>
        </div>
        <div class="col-xs-8">
            <div class="well" ng-repeat="item in data.products | filter:{category:select_category}">
                <h3>
                    <strong>{{item.name}}</strong>
                    <span class="pull-right label label-primary">
                        {{item.price | currency}}
                    </span>
                </h3>
            </div>
        </div>

        <table class="table">
          <tr><th>Class Name</th><th>Class Name</th><th>Class Name</th></tr>
          <tr ng-repeat="class in ::classes">
            <td>{{class.className}}</td>
            <td><input type="text" ng-model="class.className"></td>
            <td>{{class.className}}</td>
            <td><button class="btn-primary btn" data-ng-click="removeItem($index)">删除</button></td>
          </tr>
        </table>

    </div>
    <script src="./public/libs/angular/angular.min.js"></script>
    <script src="./controllers/sportsStore.js"></script>
    <script src="./filters/customFilters.js"></script>
    <script src="./services/data.js"></script>
</body>
</html>
