<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <ul>
        <li><a data-ui-sref="index">首页</a></li>
        <li>
          <a data-ui-sref="index.user">用户</a>
          <!-- <ul>
            <li><a data-ui-sref=".adduser">用户添加</a></li>
            <li><a data-ui-sref=".deluser">用户删除</a></li>
          </ul> -->
        </li>
        <li><a data-ui-sref="index.product">产品</a></li>
        <li><a data-ui-sref="index.about">关于我们</a></li>
      </ul>
    </div>

    <div class="span10">
      <div data-ui-view></div>
    </div>


    <h1>{{message | myToUpper:"yangfei":"tomcat"}}</h1>

    <h2>{{message}}</h2>


  </div>
</div>
